@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
<p>Contact Us at <span class="accept-policy">@ViewData["Timestamp"]</span>.</p>
</div>
